*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 50px;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links a{
    text-decoration: none;
    margin: 0 1rem;
}
.subscribe-btn{
    border: none;
    color:white;
    background-color: orange;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 3px;
}